@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
@import "utils";

html {
	background: #000;
	color: #fff;
	font-family: 'Droid Sans', sans-serif;
	height: 100%;
	
	body {
		height: 100%;
	}
	
	input, button {
		border: 0;
		background: transparent;
		color: #eee;
		font-size: 12px;
		
		&:hover {
			color: #ff8000;
		}
		
		&:focus {
			outline: none;
			color: #ff0000;
		}
		
		&:active {
			color: #00ffff;
		}
	}
	
	input {
		border-bottom: 1px solid #aaa;
		width: 120px;
	}
	
	a {
		text-decoration: none;
	}
	
	main {
		width: 800px;
		height: 100%;
		margin: 0 auto;
		position: relative;
	}
}

// Selection Text

::selection {
	color: #ffff00;
}

::-moz-selection {
	color: #ffff00;
}

// Placeholder Text

::-webkit-input-placeholder {
   color: #333;
}

:-moz-placeholder { /* Firefox 18- */
   color: #333;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #333;  
}

:-ms-input-placeholder {  
   color: #333;  
}

// Scroll bars in webkit

#write-body::-webkit-scrollbar-track {
	background: #000;
}

#write-body::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}

#write-body::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: #777;
}