@import "utils";

#write-title {
	padding: 4px 8px 12px 8px;
	font-weight: bold;
	
	#document-title {
		font-size: 22px;
		text-align: left;
		color: #f00;
		cursor: pointer;
	}
	
	input[type="text"] {
		font-size: 22px;
	}
	
	#document-words {
		font-size: 16px;
		line-height: 26px;
		text-align: right;
		color: #666;
	}
}

#write-body {
	@include border-box;
	
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0 8px;
	background: transparent;
	color: #ccc;
	border: 0;
	resize: none;
	font-size: 16px;
	line-height: 22px;
	
	&:focus {
		outline: none;
		color: #fff;
	}
}

#navigation-bar {
	position: absolute;
	bottom: 0;
	width: 100%;
	font-size: 16px;
	font-weight: bold;
	color: #666;
	padding-top: 12px;
	
	button {
		font-size: 16px;
		font-weight: bold;
		color: #444;
		
		&:hover {
			color: #ff8000;
		}
		
		&:active {
			color: #f00;
		}
	}
	
	#month-bar {
		padding: 0;
		
		#calendar {
			width: 100%;
			padding: 0;
			margin: 0;
			border: 0;
			
			td {
				text-align: center;
				border-bottom: 2px solid #f00;
				padding: 3px 0 1px 0;
				
				&.future {
					color: #222;
				}
				
				&.past {
					color: #666;
				}
				
				&.today {
					color: #fff;
				}
				
				&.selected {
					color: #fff;
				}
				
				&:hover {
					color: #ff8000;
				}
				
				a {
					text-decoration: none;
					display: block;
					color: inherit;
				}
			}
		}
	}
	
	#footer-display {
		padding: 4px 4px 0 4px;
		
		#footer-left {
			#save-display {
				display: none;
				
				color: #444;
				font-size: 12px;
				padding-left: 10px;
				
				&.unsaved {
					color: #000;
				}
			}
			
			#now-time > a {
				color: #666;
				
				&:hover {
					color: #ff8000;
				}
			}
			
			.navigate {
				color: #333;
				
				&.left-arrow {
					padding-right: 8px;
				}
				
				&.right-arrow {
					padding-left: 8px;
				}
				
				&:hover {
					color: #999;
				}
			}
		}
		
		#footer-right {
			text-align: right;
			
			#logout-form {
				display: inline;
				
				button {
					padding-right: 0;
				}
			}
		}
	}
}